*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

  body{
    color: var(--color-light);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.d-flex{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

hr{
    width: 30px;
    color: var(--color-highlight);
    margin-left: 40px;
}

.container{
    height: 100vh;
    background-color: var(--color-black);
    flex-direction: column;
}

.container-small{
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
}

#sidebar{
    flex: 0 0 230px;
    background-color: var(--color-black);
}

main{
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: var(--color-dark);
}

.app-content ul{
    justify-content: center
}

.app-content ul li{
    color: var(--color-lightgrey);
    text-transform: uppercase;
    padding: 20px 20px 5px;
    font-size: 10px;
}

.header{
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

h2{
    padding: 20px 20px 0;
}

.cards{
    width: calc(100% / 6);
    margin: 10px 20px;
    flex-direction: column;
}

.image{
    width: 100%;
    position: relative;
}

.image:hover{
    cursor: pointer;
}

.image .layover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.layover:hover{
    background-color: rgba(0, 0, 0, 0.5);

}

.fa-circle-play{
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform:translate(-50%, -50%);
}

.fa-circle-play:hover{
    color: var(--color-light);
}

.image img{
    width: 100%;
}

.text{
    text-align: center;
}

h5{
    color: var(--color-lightgrey);
}

.snd-section h2, h5{
    padding: 10px 20px;
}

.circle-cards{
    width: calc(100% / 6);
    margin: 10px 20px;
    flex-direction: column;
    border-radius: 50%;
}

.circle-image img{
    width: 100%;
    border-radius: 50%;
}

footer{
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
}

/*media query*/
@media screen and (max-width: 768px) {
    .app-content ul{
        flex-wrap: wrap;
    }

    .container-cards{
        flex-wrap: wrap;
    }

    .cards{
        width: calc(100% / 4);
    }

    .circle-cards{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 576px) {
    .cards{
        width: calc(100% / 2);
    }

    .circle-cards{
        width: calc(100% / 2);
    }
}

