*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
  }

  body{
    color: var(--color-light);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.d-flex{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    height: 100vh;
    background-color: var(--color-black);
    flex-direction: column;
    overflow: hidden;
}

.container-small{
    background-color: var(--color-dark);
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
}

#sidebar{
    flex: 0 0 230px;
    background-color: var(--color-black);
    min-height: 400px;
    overflow: hidden;
}

.sidebar-top{
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
}

.logo{
    width: 150px;
    margin: 10px 20px 5px;
}

.logo-small{
    display: none;
}

.sidebar-top ul li img{
    width: 25px;
    margin: 5px 20px 10px 10px;
}

.sidebar-top ul a{
    display: flex;
    align-items: center;
    color: var(--color-lightgrey);
}

.sidebar-top ul li:hover{
    color: var(--color-light);
    border-left: 3px solid var(--color-highlight);
}

.border-left{
    display: block;
    border-left: 3px solid var(--color-highlight);
}

h3{
    padding: 10px;
    margin-bottom: 15px;
}

.playlist{
    align-items: center;
    min-height: 0;
}

.fa-square-plus{
    padding: 20px 10px;
    font-size: 50px;
}

.nome-playlist{
    flex: 1 1 auto;
    min-height: 0;
}

.nome-playlist ul{
    flex: 1 1 auto;
    overflow-y: auto;
}

.nome-playlist ul li{
    padding: 5px 10px;
}

.sidebar-bottom{
    height: 90px;
    z-index: 1000;
    background-color: var(--color-darkgrey);
    position: relative;
}

.download{
    align-items: center;
}

.download img{
    width: 25px;
    margin-left: 5px;
    margin-right: 10px; 
}

span{
    color: var(--color-lightgrey);
}

span:hover{
    cursor: pointer;
    color: var(--color-light);
}

hr{
    width: 200px;
    margin: 10px 50px 10px 10px;
}

.profile{
    align-items: center;
}

.profile img{
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--color-lightgrey);
    border-radius: 50%;
}

.profile span{
    color: var(--color-light);
}

main{
    flex: 1 1 auto;
    overflow-y: auto;
    background-color: var(--color-dark);
}

.app-content ul{
    justify-content: center
}

.app-content ul li{
    color: var(--color-lightgrey);
    text-transform: uppercase;
    padding: 20px 20px 5px;
    font-size: 10px;
}

.app-content ul li::after{
    content: "";
    height: 3px;
    width: 30px;
    display: block;
    margin: 0 auto;
}

.app-content ul li:hover::after{
    background-color: var(--color-highlight);
}

.active::after{
    display: block;
    background-color: var(--color-highlight);
}

.app-content ul li:hover{
    color: var(--color-light);
}

.header{
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.header a{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.header button{
    margin-left: auto;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: var(--color-dark);
    color: var(--color-light);
}

button:hover{
    cursor: pointer;
    border: 1px solid var(--color-light);
    transform: scale(1.2,1.5);
    transition: 1s;
}

h2{
    padding: 20px 20px 0;
}

.cards{
    width: calc(100% / 6);
    margin: 10px 20px;
    flex-direction: column;
}

.image{
    width: 100%;
    position: relative;
}

.image:hover{
    cursor: pointer;
}

.image .layover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.layover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.fa-circle-play{
    color: rgba(255, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform:translate(-50%, -50%);
}

.fa-circle-play:hover{
    color: var(--color-light);
}

.image img{
    width: 100%;
}

.text{
    text-align: center;
}

h5{
    color: var(--color-lightgrey);
}

.snd-section h2, h5{
    padding: 10px 20px;
}

.circle-cards{
    width: calc(100% / 6);
    margin: 10px 20px;
    flex-direction: column;
    border-radius: 50%;
}

.circle-image{
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.circle-image img{
    width: 100%;
    border-radius: 50%;
}

.circle-layover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.circle-layover:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

footer{
    background-color: var(--color-darkgrey);
    flex: 0 0 100px;
    position: relative;
    z-index: 5000;
}

.left{
    flex-grow: 1;
    align-items: center;
}

.footer-image{
    width: 200px;
    margin: 10px;
}

.footer-image img{
    width: 25%;
}

h6{
    font-size: 15px;
}

.brano-nome{
    padding: 10px;
}

.fa-heart{
    color: var(--color-lightgrey);
    padding: 10px;
}

.fa-heart:hover{
    color: var(--color-light);
    cursor: pointer;
}

.fa-folder{
    color: var(--color-lightgrey);
    padding: 10px;
}

.fa-folder:hover{
    color: var(--color-light);
    cursor: pointer;
}

.middle{
    flex-grow: 2;
}

.icons{
    justify-content: center;
    position: relative;
    font-size: 20px;
    cursor: pointer;
}

.icons i{
    padding: 15px;
}

.fa-backward-step{
    margin-right: 50px;
}

.icons .fa-circle-play{
    display: block;
    font-size: 30px;
    color: var(--color-light);
    position: absolute;
    top: 25px;
    left: 50%;
}

.range{
    justify-content: space-around;
}

.range input{
    transform: scale(1, 1);
}

.range input:hover{
    accent-color: var(--color-highlight);
    cursor: pointer;
}

.right{
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end
}

.right i{
    padding: 10px;
    color: var(--color-lightgrey);
}

.right i:hover{
    cursor: pointer;
    color: var(--color-light);
}

.right input:hover{
    accent-color: var(--color-highlight);
    cursor: pointer;
}

/*media query*/

@media screen and (max-width: 1100px) {
    .app-content ul{
        flex-wrap: wrap;
    }

    .container-cards{
        flex-wrap: wrap;
    }

    .cards{
        width: calc(100% / 4);
        margin: 0;
    }

    .circle-cards{
        width: calc(100% / 4);
    }

}

@media screen and (max-width: 768px) {
    .cards{
        width: calc(100% / 3);
        margin: 0;
    }

    .circle-cards{
        width: calc(100% / 3);
    }

    .left{
        flex-direction: column;
    }

    .right{
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .cards{
        width: calc(100% / 2);
        margin: 0;
    }

    .circle-cards{
        width: calc(100% / 2);
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .cards{
        width: calc(100% / 1);
        margin: 0;
    }

    .circle-cards{
        width: calc(100% / 1);
        margin: 0;
    }

    #sidebar{
        max-width: 50px;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        width: 25px;
        margin: 15px 20px 10px 10px;
    }

    .sidebar-top ul span{
        display: none;
    }

    .sidebar-top ul li img{
        display: block;
    }

    h3{
        display: none;
    }

    .playlist{
        display: none;
    }

    .nome-playlist{
        display: none;
    }

    .sidebar-bottom{
        display: none;
    }

    .left{
        display: none;
    }

    .right{
        display: none;
    }
}
